<img src="Images/PU.png" width="100%">

## Course Name : Python for Data Analysis 
#### Notebook compiled by : Bhushan Garware, Project Lead at Learning and Development  
** Important ! ** For internal circulation olny

#### To learn some data pre-processing techniques, we would be using Automobile Dataset which is available at [UCI Machine Learning Repository]( https://archive.ics.uci.edu/ml/datasets/Automobile) 
<img src="Images/Auto.png" width="100%">

In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
df = pd.read_csv('./Datasets/imports-85.data',header=None,na_values="?" )
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [4]:
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]

In [5]:
df.columns=headers

In [6]:
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

# Dealing with missing data
Real world data is not always in the state where you can directly perform machine learning operations on it. We need to process it and bring it to the format which is compatible with the algorithms. The very first problem we face in real-word datasets is the problem of missing values.
<img src="Images/Missing_Data.jpg" width="70%">

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized_losses    164 non-null float64
make                 205 non-null object
fuel_type            205 non-null object
aspiration           205 non-null object
num_doors            203 non-null object
body_style           205 non-null object
drive_wheels         205 non-null object
engine_location      205 non-null object
wheel_base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb_weight          205 non-null int64
engine_type          205 non-null object
num_cylinders        205 non-null object
engine_size          205 non-null int64
fuel_system          205 non-null object
bore                 201 non-null float64
stroke               201 non-null float64
compression_ratio    205 non-null float64
horsepower           203 non-null float64
peak_rpm             203 non-null float64
city_mpg             205 non-null int64
highway_mpg          205 non-null int64
price                201 non-null float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.7+ KB

## What is the simplest way ?
The simplest way is to eliminate all the rows in the dataset having missing values..!

In [8]:
df_temp=df.dropna()

df_temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159 entries, 3 to 204
Data columns (total 26 columns):
symboling            159 non-null int64
normalized_losses    159 non-null float64
make                 159 non-null object
fuel_type            159 non-null object
aspiration           159 non-null object
num_doors            159 non-null object
body_style           159 non-null object
drive_wheels         159 non-null object
engine_location      159 non-null object
wheel_base           159 non-null float64
length               159 non-null float64
width                159 non-null float64
height               159 non-null float64
curb_weight          159 non-null int64
engine_type          159 non-null object
num_cylinders        159 non-null object
engine_size          159 non-null int64
fuel_system          159 non-null object
bore                 159 non-null float64
stroke               159 non-null float64
compression_ratio    159 non-null float64
horsepower           159 non-null float64
peak_rpm             159 non-null float64
city_mpg             159 non-null int64
highway_mpg          159 non-null int64
price                159 non-null float64
dtypes: float64(11), int64(5), object(10)
memory usage: 33.5+ KB

# Losing valuable data is crime in Data Science !!!
You cannot afford to eliminate entire row because of few missing values. Hence, there is need to find out ways to fill the missing data values.
<img src="Images/Data_Loss.jpg" width="40%">

# You can Fill the missing values

In [9]:
df["normalized_losses"].fillna(1,inplace=True) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized_losses    205 non-null float64
make                 205 non-null object
fuel_type            205 non-null object
aspiration           205 non-null object
num_doors            203 non-null object
body_style           205 non-null object
drive_wheels         205 non-null object
engine_location      205 non-null object
wheel_base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb_weight          205 non-null int64
engine_type          205 non-null object
num_cylinders        205 non-null object
engine_size          205 non-null int64
fuel_system          205 non-null object
bore                 201 non-null float64
stroke               201 non-null float64
compression_ratio    205 non-null float64
horsepower           203 non-null float64
peak_rpm             203 non-null float64
city_mpg             205 non-null int64
highway_mpg          205 non-null int64
price                201 non-null float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.7+ KB

In [ ]:
df["bore"].fillna(df.bore.mean(),inplace=True) 
df.info()

# Filling missing values for categorical features

In [12]:
from scipy.stats import mode
mode(df['num_doors'])

ModeResult(mode=array(['four'], dtype=object), count=array([114]))

In [11]:
mode(df['num_doors']).mode[0]

'four'

In [14]:
df['num_doors'].fillna(mode(df['num_doors']).mode[0],inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized_losses    205 non-null float64
make                 205 non-null object
fuel_type            205 non-null object
aspiration           205 non-null object
num_doors            205 non-null object
body_style           205 non-null object
drive_wheels         205 non-null object
engine_location      205 non-null object
wheel_base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb_weight          205 non-null int64
engine_type          205 non-null object
num_cylinders        205 non-null object
engine_size          205 non-null int64
fuel_system          205 non-null object
bore                 201 non-null float64
stroke               201 non-null float64
compression_ratio    205 non-null float64
horsepower           203 non-null float64
peak_rpm             203 non-null float64
city_mpg             205 non-null int64
highway_mpg          205 non-null int64
price                201 non-null float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.7+ KB

# Handling categorical data
Another problem we generally face while working on real life datasets is a categorical data. Most of the machine learning algorithms involve mathematical calculations. Here, we cannot feed the categorical data as it is. Hence, during the preprocessing steps, it is mandatory to convert the categorical data into the numeric form.
<img src="Images/Categorical_Data.jpg" width="80%">

## Mapping ordinal features

In [16]:
Door_mapping = {'four': 1,'two': 0}
df['num_doors'] = df['num_doors'].map(Door_mapping)

In [17]:
df.head(5)

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,1.0,alfa-romero,gas,std,0,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,1.0,alfa-romero,gas,std,0,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,1.0,alfa-romero,gas,std,0,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,1,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,1,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

# What if there are many categories

In [18]:
df['make'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [19]:
from sklearn.preprocessing import LabelEncoder

lb_make = LabelEncoder()
df["make_code"] = lb_make.fit_transform(df["make"])

In [20]:
df[["make", "make_code"]].head(50)

           make  make_code
0   alfa-romero          0
1   alfa-romero          0
2   alfa-romero          0
3          audi          1
4          audi          1
5          audi          1
6          audi          1
7          audi          1
8          audi          1
9          audi          1
10          bmw          2
11          bmw          2
12          bmw          2
13          bmw          2
14          bmw          2
15          bmw          2
16          bmw          2
17          bmw          2
18    chevrolet          3
19    chevrolet          3
20    chevrolet          3
21        dodge          4
22        dodge          4
23        dodge          4
24        dodge          4
25        dodge          4
26        dodge          4
27        dodge          4
28        dodge          4
29        dodge          4
30        honda          5
31        honda          5
32        honda          5
33        honda          5
34        honda          5
35        honda          5
36        honda          5
37        honda          5
38        honda          5
39        honda          5
40        honda          5
41        honda          5
42        honda          5
43        isuzu          6
44        isuzu          6
45        isuzu          6
46        isuzu          6
47       jaguar          7
48       jaguar          7
49       jaguar          7